---
# Setup
---

## Imports

In [1]:
import numpy as np
import pandas as pd
import glob

import matplotlib.pyplot as plt 
%matplotlib inline

---
# Trial Data
---

## Load and manipulate data

Path to `trial_data`

In [87]:
root_dir = '/Volumes/DJW_Lacie_01/PROJECTS/2018_Food_Reg_fMRI/09_DATA/food_reg_fmri_01/trial_data/'

Only **good subjects** were included in analyses

In [138]:
good_subjects = list(range(101,105)) + list(range(106,113)) + [114, 116] + list(range(118,122)) + list(range(123,127)) + list(range(129,138)) + [139, 140] + list(range(142,149)) + [150] + list(range(152,159)) + list(range(162,165))
all_subjects = list(range(101,165))

Limit to subjects that have localizer data

In [89]:
# No localizer data for subs 101, 117, 132, 138, 141, 151
no_localizer_subs = [101,117,132,138,141,151]
all_subjects = list(set(all_subjects) - (set(no_localizer_subs)))
good_subjects = list(set(good_subjects) - (set(no_localizer_subs)))

### Create Localizer DFs

In [92]:
gng_df = []
switch_df = []

# loop through csv files
for subject in good_subjects:
    
    sub_dir = root_dir + str(subject) + '/'
    
    # get list of files
    gng = glob.glob(sub_dir + '*gonogo.csv')
    switch = glob.glob(sub_dir + '*shiftingLetterNumber.csv')
    
    # append gng runs
    gng_sub = []
    for file in gng:
        df = pd.read_csv(file)
        gng_sub.append(df)
    gng_sub = pd.concat(gng_sub, axis=0).reset_index(drop=True)
    gng_df.append(gng_sub)
    
    # only one switch run
    switch_sub = pd.read_csv(switch[0])
    switch_df.append(switch_sub)

# join all subjects
gng_df = pd.concat(gng_df, axis=0).reset_index(drop=True)
switch_df = pd.concat(switch_df, axis=0).reset_index(drop=True)

In [109]:
switch_df.columns

Index(['participant', 'scriptDate', 'trialNo', 'blockType', 'task',
       'fixationFrames', 'postFixationFrames', 'targetFrames', 'startTime',
       'endTime', 'firstTR', 'blockNumber', 'elapsedTime', 'resp', 'rt', 'iti',
       'responseTTL', 'choice', 'overallTrialNum', 'acc', 'creditsEarned',
       'letternumber', 'trials', 'switchProportion', 'switches', 'switch',
       'question', 'colourCue', 'correctAnswer', 'correctKey'],
      dtype='object')

---
### Basic Pyschometrics

In [144]:
# rt and accuracy for each subject
switch_df.groupby('participant')[['rt', 'acc']].mean().head()

                   rt     acc
participant
102          0.703756  0.6375
103          0.578992  0.3625
104          0.843213  0.3000
106          0.787512  0.6000
107          0.748620  0.6750

In [140]:
# more accurate on faces than houses
switch_df.groupby('correctAnswer')[['rt', 'acc']].mean()

                     rt       acc
correctAnswer
female         0.670152  0.605025
male           0.697437  0.542888
new            0.693298  0.389006
old            0.702082  0.401840

In [143]:
# much worse accuracy when switching
switch_df.groupby('switch')[['rt', 'acc']].mean()

              rt       acc
switch
0       0.678389  0.551042
1       0.702879  0.419271

# To Dos

> Need to align TRs with trial data
> 1. Start time of each trial
> 2. End time of each trial
> 3. ITI duration