In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/subject_fmri_qc.csv')

In [43]:
df.head()

                         bids_name   fd_mean   fd_perc  fd_num  subject
0  sub-101_task-choose_run-01_bold  0.057737  0.000000       0      101
1  sub-101_task-choose_run-02_bold  0.064251  0.000000       0      101
2  sub-101_task-choose_run-03_bold  0.075556  1.538462       2      101
3  sub-101_task-choose_run-04_bold  0.083532  1.550388       2      101
4  sub-101_task-choose_run-05_bold  0.080754  5.384615       7      101

In [31]:
# create subject column with number
df['subject'] = df.loc[:,'bids_name'].str.slice(4,7).astype(int)
# remove non-main task runs
df = df[~df.bids_name.str.contains("gonogo")]
df = df[~df.bids_name.str.contains("switch")]

In [89]:
qc_perc50 = df[df['fd_perc']<50].groupby('subject')['fd_perc'].agg(['count', 'mean']).reset_index()
qc_perc50[qc_perc50['count']<6]

    subject  count       mean
46      151      5  44.069171

In [90]:
qc_perc40 = df[df['fd_perc']<40].groupby('subject')['fd_perc'].agg(['count', 'mean']).reset_index()
qc_perc40[qc_perc40['count']<6]

    subject  count       mean
4       105      4  10.268336
14      115      4  32.500000
46      151      1  39.230769
56      161      4  25.384615

In [91]:
qc_fdm50 = df[df['fd_mean']<50].groupby('subject')['fd_perc'].agg(['count', 'mean']).reset_index()
qc_fdm50[qc_fdm50['count']<6]

Empty DataFrame
Columns: [subject, count, mean]
Index: []